body{
    font-family: 'PT Sans', sans-serif;
}

.jumbotron {
    text-align       : center;
    background-color : transparent;
    border-bottom    : 1px solid #eee;
}

.jumbotron .btn {
    padding   : 14px 24px;
    font-size : 21px;
}

.logo-container{
    margin-top : 50px;
}

.course-description-item {
    border-top : 1px solid #eee;
    margin-top : 40px;
}

.course-description-item h4 {
    margin-top : 30px;
}

.header{
    margin-top: 20px;
}

.footer {
    padding-top    : 40px;
    padding-bottom : 40px;
    margin-top     : 40px;
    border-top     : 1px solid #eee;
}

@media (max-width: 768px) {
    .jumbotron{
        padding: 5px;
    }

    .jumbotron h1{
        font-size: 32px;
        margin-bottom: 20px;
    }

    .logo-container{
        margin-top : 10px;
    }

    .back-link-cnt{
        font-size: 20px;
        line-height: 50px;
    }
}