---
layout: default
title: Летняя практика для студентов ММФ
---

{% include common/header.html %}

<div class="row">
    <div class="col-lg-12">
        <h1>
            Летняя практика для студентов ММФ<br>
            <small>Front-end development dive-in</small>
        </h1>

        <ul>
            <li><a href="#study">Лекции (которых нет в основном курсе)</a></li>
            <li><a href="#environment">Настройка среды разработки</a></li>
            <li><a href="#task">Задание</a></li>
        </ul>

        <p><a class="btn btn-primary btn-xs" href="http://goo.gl/JQ5iM3" role="">Таблица успеваемости</a></p>

        <section id="stufy" class="course-description-item">
            {% capture program %}{% include front-end-camp/study.md %}{% endcapture %}
            {{ program | markdownify }}
        </section>

        <section id="environment" class="course-description-item">
            {% capture program %}{% include front-end-camp/environment.md %}{% endcapture %}
            {{ program | markdownify }}
        </section>

        <section id="task" class="course-description-item">
            {% capture task %}{% include front-end-camp/task.md %}{% endcapture %}
            {{ task | markdownify }}
        </section>

    </div>
</div>